<!-- ./views/index.handlebars 
<h2>hello world! 這是 index!</h2>  -->




<!-- ./views/index.handlebars        

 3/17 新增 供todolist 練習用樣板 
在這裡，我們使用了 Handlebars 提供的 each 來動態顯示資料，並透過 this.name 來取得每個 todo 的名字。

我印象是迴圈 有空回去瀏覽課程 , 在迴圈-->

<a href="/todos/new">Create</a>

<ul>
  {{#each todos}}
  <li>
    {{{this.name}}}
    <a href="/todos/{{{this._id}}}">detail</a>
    <!--<a href="#">detail</a> ._id 是mongoose 特別專用認定慣例id方式-->
    <a href="/todos/{{{this._id}}}/edit">edit</a>
    <!--<a href="#">edit</a> -->

    <form action="/todos/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
    <!--<button type="submit">delete</button> -->
  </li>
  {{/each}}
</ul>